---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Countdown from "@/sections/Countdown.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
import Message from "@/sections/Message.astro";
import Instagram from "@/sections/Instagram.astro";
import Footer from "@/sections/Footer.astro";

---

<Layout title="Mi Colación">
	<div id="hero" 
	class="hidden"
	>
			<Hero />
			<section class="p-4">
				<Countdown />
				<PrincipalDate />
				<Message />
				<Instagram />
				<Footer />
			</section>

	</div>
</Layout>
